.login-page{
    height : 100vh;
    display: flex;
    background: #eef3ff;
    font-family: Poppins, sans-serif;
}

.login-illustrate{
    flex:1;
    background: url("/illustrate.png") no-repeat center;
    background-size: cover;
}

.login-card{
    width:420px;
    background: #95d0e3;
    padding: 40px 35px;
    box-shadow: 0 20 40 rgba(0, 0, 0, 0.15);
    margin: auto 60;
}

.card {
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}
